#profile {
  text-align: center;
  padding: 30px 20px 20px 20px;
  color:#034953;
  background-color: white;
}

#profile a{
  text-decoration: none;
  color:#034953;
  font-family: "Georgia", serif;
}

#profile p{
  font-size: 18px;
  padding: 0 5px 0 5px;
}

#profile h1{
  font-size: 28px;
}

/*navigation menu stuff*/

#sidebar {
  margin:none;
  background-image: url(fish.png);
  background-attachment: fixed;
  width: 250px;
  height: 100vh;
  min-height: 750px;
  float:left;
}


.round {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 20px auto 40px auto;
}

.round img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

nav{
  overflow: hidden;
  background-image: url("fish.png");
  background-attachment: fixed;
}

#currentTab{
  background-color: #ffead1;
  color:#034953;
}

.navItem a{
  background-color: #ffaaaa;
  text-align: right;
  padding: 12px 30px;
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: "Georgia", serif;
  font-weight: bold;
  color:white;
  border-bottom: 15px solid white;

}

.navItem a:hover{
  background-color: #ffcccc;
}


.navItem ul{
  height:0px;
  overflow: hidden;
  margin: 0px;
  padding:0px;

  /*menu animation*/

  -webkit-transition: height 1s ease;
   -moz-transition: height 1s ease;
     -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
        transition: height 1s ease;

}

.navItem ul a {
  text-decoration: none;
  display: block;
  font-size: 18px;

}

.navItem:hover ul{
  height: 120px;
}

.navItem li{

  list-style-type: none;
}



body {
  margin:0px;
}


#content {
  background-color: white;

  height: 100vh;

}


.text{
  padding: 30px 50px 0 50px;
  font-family: "Georgia", serif;
  color:black;
}

#portfolio{
  margin:0 auto;
  width:600px;
  height:250px;

}

#portfolio img{

}
